*.swp
.idea
.git
parameters.json
snowflake-sdk-*.tgz
dist
junit*.xml
node_modules
coverage
package-lock.json
snowflake.log
__pycache__/
wss-*-agent.config
wss-unified-agent.jar
whitesource/
.nyc_output
