language: node_js
sudo: false
node_js:
  - 6
before_install:
  - openssl aes-256-cbc -k "$super_secret_password" -in parameters.json.enc -out parameters.json -d
install:
  - npm install
script:
  - npm test
env:
  global:
    secure: dyMdWt2UJd6hXXNWSpEgC5TJPg/W2jDEGxKvZyekG7z4DAMddy8WUOOxie1R3VuzjQa65SxPjHt2cpj4xypTG63JdwzW/WXRSa4kzMJGKL9xwXpmRPNwnnyPQxylxZ1W1mS8w3Coza7IWoexpqHYAvofg3cr8x2FxTQL2aqxl3+Xn0AmIrUyWtScMIzzLe0su5GJ442rz/w0vdXo6AcsMMyzMOVILagFys0iNcLQYXhanetb4Jda4PLzsOjOvd6tXYUsNqpxcHf4GZL3gp+F+RnXA2rEYEHeO8EnR9LI6c3gD53H61+FnwW8211hK4gHpenuMeMgTNyLrVav5UAg5PWEpB4OHrNJma/kYq/c7pokKjkCwkcZ5EAIcXxAi3oXa0nNmcZPMNAGEsgFQNn9a1P2cS2CgCWAQRtnEAZEa1LwdgxVi8a8Q44bXsTQAl0ZavXPDsDBx2tmzuObErxLMyB7UVBJNTc/JcrUWfSKihCOUBKLM3//QTu8puJ1KTR3MatiZ7AxNltSrxQyipsQ7zB9Hb6zmZZn7373nJnlRudXTZSLIRhANtshlAQ5diZ3DwhX8zj9fQF7d+6XTwwj4EUBlsv7nFLeSq4PefxmNGtgAWbO1iOy6NmPbLwB5/pGkKmUErXVHGCUAurYVaduapIiL4mBydncOjqnqtNSetM=
