####################################################################
# WhiteSource Unified-Agent generated configuration file
####################################################################
########################################################
# GENERAL SCAN MODE: Files and Package Managers
########################################################

resolveAllDependencies=false
archiveExtractionDepth=7
followSymbolicLinks=true
showProgressBar=false

checkPolicies=true
forceCheckAllDependencies=true
forceUpdate=true
forceUpdate.failBuildOnPolicyViolation=true
#updateInventory=false

npm.resolveDependencies=true
npm.ignoreSourceFiles=true
npm.includeDevDependencies=false
npm.runPreStep=false
npm.ignoreNpmLsErrors=true
npm.ignoreScripts=true
npm.yarnProject=false
npm.accessToken=
npm.identifyByNameAndVersion=false
npm.yarn.frozenLockfile=false
npm.resolveMainPackageJsonOnly=true
npm.removeDuplicateDependencies=true
npm.resolveAdditionalDependencies=false
npm.failOnNpmLsErrors = false
# npm.projectNameFromDependencyFile = true
npm.resolveGlobalPackages=true                             
npm.resolveLockFile=false

#------------------------------------------------------------------------
#------------------------ Fill in the parameters ------------------------
#------------------------------------------------------------------------

apiKey=
#Unique identifier of the organization. It can be retrieved from the 'Integrate' page in your WhiteSource account

productName=
#Name of the product to create or update

projectName=
#Name of the project to create or update

wss.url=
#URL to send the request to. Use the 'WhiteSource Server URL' which can be retrieved from your 'Profile' page on the 'Server URLs' panel. Then, add New configuration was created at the '/agent' path to it, 
#For example: "https://<domain>.whitesourcesoftware.com/agent".

#projectTag=
#Project tag, to refer to another project and apply the policies from there

#projectToken=
#Unique identifier of the project to update. It can be retrieved from the 'Integrate' page in your WhiteSource account

#---------------- File name patterns to search ----------------
includes=**/*.m **/*.mm **/*.js **/*.json **/*.ts **/*.jsx **/*.tsx **/*.min.js

excludes=**/*sources.jar **/*javadoc.jar