name: Build and Test

on:
  push:
    branches:
      - master
    tags:
      - v*
  pull_request:
    branches:
      - master
      - prep-**
  workflow_dispatch:
    inputs:
      logLevel:
        default: warning
        description: 'Log level'
        required: true
      tags:
        description: 'Test scenario tags'

concurrency:
  # older builds for the same pull request numer or branch should be cancelled
  group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.ref }}
  cancel-in-progress: true
jobs:
  build:
    name: Build
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Build
        shell: bash
        env:
          WHITESOURCE_API_KEY: ${{ secrets.WHITESOURCE_API_KEY }}
        run: ./ci/build.sh
      - name: Upload Build Artifact
        uses: actions/upload-artifact@v4
        with:
          name: artifacts
          path: artifacts

  test-mac:
    needs: build
    name: Tests on Mac
    runs-on: macos-latest
    strategy:
      fail-fast: false
      matrix:
        cloud: ['AWS', 'AZURE', 'GCP']
        nodeVersion: ['18.x', '20.x', '22.x', '24.x']
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-node@v4
        with:
          node-version: ${{ matrix.nodeVersion }}
      - uses: actions/setup-python@v5
        with:
          python-version: '3.7'
      - name: Download Build Artifacts
        uses: actions/download-artifact@v4
        with:
          name: artifacts
          path: artifacts
      - name: Install Homebrew Bash
        shell: bash
        run: brew install bash
      - name: Tests
        shell: bash
        env:
          PARAMETERS_SECRET: ${{ secrets.PARAMETERS_SECRET }}
          CLOUD_PROVIDER: ${{ matrix.cloud }}
        run: /opt/homebrew/bin/bash ./ci/test_mac.sh
      - name: Upload coverage reports to Codecov
        uses: codecov/codecov-action@v5
        with:
          # without the token code cov may fail because of Github limits https://github.com/codecov/codecov-action/issues/557
          token: ${{ secrets.CODE_COV_UPLOAD_TOKEN }}
          fail_ci_if_error: true

  test-windows:
    needs: build
    name: Tests on Windows
    runs-on: windows-latest
    strategy:
      fail-fast: false
      matrix:
        cloud: ['AWS', 'AZURE', 'GCP']
        nodeVersion: ['18.x', '20.x', '22.x', '24.x']
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-java@v4
        with:
          distribution: 'temurin'
          java-version: '17'
          java-package: 'jre'
      - uses: actions/setup-node@v4
        with:
          node-version: ${{ matrix.nodeVersion }}
      - uses: actions/setup-python@v5
        with:
          python-version: '3.7'
          architecture: 'x64'
      - name: Download Build Artifacts
        uses: actions/download-artifact@v4
        with:
          name: artifacts
          path: artifacts
      - name: Tests
        shell: cmd
        env:
          PARAMETERS_SECRET: ${{ secrets.PARAMETERS_SECRET }}
          CLOUD_PROVIDER: ${{ matrix.cloud }}
        run: ci\\test_windows.bat

  test-linux:
    needs: build
    name: Tests on Linux
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        image: ['nodejs-chainguard-node18', 'nodejs-chainguard-node18-fips']
        cloud: ['AWS', 'AZURE', 'GCP']
    steps:
      - uses: actions/checkout@v4
      - name: Download Build Artifacts
        uses: actions/download-artifact@v4
        with:
          name: artifacts
          path: artifacts
      - name: Tests
        shell: bash
        env:
          PARAMETERS_SECRET: ${{ secrets.PARAMETERS_SECRET }}
          CLOUD_PROVIDER: ${{ matrix.cloud }}
          TARGET_DOCKER_TEST_IMAGE: ${{ matrix.image }}
        run: ./ci/test.sh

  test-ubuntu:
    needs: build
    name: Tests on Ubuntu
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        cloud: ['AWS', 'AZURE', 'GCP']
        nodeVersion: ['18.x', '20.x', '22.x', '24.x']
    steps:
      - uses: actions/checkout@v4
      - name: Download Build Artifacts
        uses: actions/download-artifact@v4
        with:
          name: artifacts
          path: artifacts
      - name: Use Node.js
        uses: actions/setup-node@v4
        with:
          node-version: ${{ matrix.node-version }}
      - name: Tests
        shell: bash
        env:
          PARAMETERS_SECRET: ${{ secrets.PARAMETERS_SECRET }}
          CLOUD_PROVIDER: ${{ matrix.cloud }}
        run: ./ci/test_ubuntu.sh
      - name: Upload coverage reports to Codecov
        uses: codecov/codecov-action@v5
        with:
          # without the token code cov may fail because of Github limits https://github.com/codecov/codecov-action/issues/557
          token: ${{ secrets.CODE_COV_UPLOAD_TOKEN }}
          fail_ci_if_error: true

  test-rockylinux9:
    needs: build
    name: ${{ matrix.cloud }} Node.js ${{ matrix.nodeVersion }} on Rocky Linux 9
    runs-on: ubuntu-latest
    permissions:
      contents: read
    strategy:
      fail-fast: false
      matrix:
        cloud: ['AWS', 'AZURE', 'GCP']
        nodeVersion: ['18', '20', '22']
    steps:
      - uses: actions/checkout@v4
      - name: Test
        shell: bash
        env:
          PARAMETERS_SECRET: ${{ secrets.PARAMETERS_SECRET }}
          CLOUD_PROVIDER: ${{ matrix.cloud }}
          GITHUB_ACTIONS: true
          GITHUB_SHA: ${{ github.sha }}
          GITHUB_REF: ${{ github.ref }}
          GITHUB_REPOSITORY: ${{ github.repository }}
          GITHUB_EVENT_NAME: ${{ github.event_name }}
          RUNNER_TRACKING_ID: ${{ runner.name }}
        run: ./ci/test_rhel9_docker.sh ${{ matrix.nodeVersion }}
